.c-item{
height: 300px;
}

.c-img{
height: 100%;
object-fit: cover;
filter: brightness(0.6);
display: flex;
justify-items: center;
}

.c-item-2{
    height: 300px;
}


/* .c-image-2{
    height: 10%;
} */